
<div class="col-sm-4">
  <h3>{{product.name}}</h3>
  <h4>by {{product.seller.name}}</h4>
  <p>{{product.description}}</p>
  <img class="img-thumbnail img-responsive" src="{{product.image}}" alt="product image" />
</div>
